<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rpgprogram.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="rpgprogram.Perspective"
            id="RpgProgram.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rpgprogram.ChatView"
            id="RPGProgram.ChatView"
            name="ChatView"
            restorable="true">
      </view>
      <view
            class="rpgprogram.View"
            id="RPGProgram.view"
            name="View"
            restorable="true">
      </view>
      <view
            class="rpgprogram.MapView"
            id="RPGProgram.MapView"
            name="MapView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="RPGProgram.ChatView"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
         <view
               id="RPGProgram.view"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
         <view
               id="RPGProgram.MapView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="RpgProgram.application"
            name="RPG Program">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>

</plugin>
